.complete-profile main{
    background-color: #f7f9fb;
    /* min-height: 100vh; */
    
}
.complete-profile  footer{
    background-color: #f7f9fb;
    padding-bottom: 1rem ;
}
.complete-profile  header {
    padding: 1.2rem 0;
    margin: auto;
    width: 90%;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #004ac6;
}
/* Small devices */
@media (min-width: 576px) {

}

/* Medium devices (Tablets) */
@media (min-width: 768px) {

}

/* Large devices (Laptops) */
@media (min-width: 992px) {

}

/* Extra large devices */
@media (min-width: 1200px) {

}

/* Extra extra large devices */
@media (min-width: 1400px) {

}
.complete-profile  .card-container{
    padding: 64px 15px;
}
.complete-profile  .card{
    width: 90%;
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #d5d8e5;
    border-radius: 10px;
}
.complete-profile  .card .icon-part{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbe1ff;
    width: 100%;
    border-top-left-radius: 10px;
    padding: 2rem 0;
}

.complete-profile  .card  .user-plus-icon-container{
    border-radius: 50%;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.181);
    font-size: 1rem;
}
.complete-profile  .card  .user-plus-icon{
    color: #004ac6;
    width: 35px;
    height: 35px;
}
.complete-profile  .card .form-text,
.complete-profile  .card form{
    padding: 2rem;
}
.complete-profile .card form {
    padding-bottom: 0;
}
.complete-profile .card .form-text h1 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.01em;
    font-weight: 600;
    text-align: center;
}
.complete-profile .card .form-text p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 8px;
    color: #434655;
}
.complete-profile .card form .date input{
    width: 100%;
    border: 1px solid #d5d8e5;
    border-radius: 10px;
    padding:  8px;
}
.complete-profile .card form .blood-type   div div:hover {
    background-color: #c8c8c8;
}
.complete-profile .card form .blood-type   div div {
    border: 1px solid #d5d8e5;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    transition: 0.3s;
}
.complete-profile .card form .blood-type div div:has(input:checked){
    font-weight: 600;
    background-color: #004ac6;
    color: white;
}
.complete-profile .card form .blood-type  > div {
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
}
.complete-profile .card form .blood-type  input {
    display: none;
}
.complete-profile .card form .blood-type div label{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.complete-profile .card form .gender input {
    width: 15px;
    height: 15px;
    font-size: 50px;
    margin-right: 5px;
}
.complete-profile .card form button{
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 0;
}
.complete-profile .card form .complete-button{
    background-color: #004ac6;
    color: white;
}
.complete-profile .card form .complete-button:hover{
background-color: #1558cb;
}

.complete-profile .card form .skip-button{
    margin-top: 5px;
    color: #004ac6;
}
.complete-profile .card form .skip-button:hover{
    background-color: #c8c8c8;
}
.complete-profile .card footer{
    padding:  0 2rem 2rem 2rem;
    color: rgb(115 118 134)  ;
}
.complete-profile .card footer p{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-weight: 600;
}
.complete-profile .card hr{
    margin: 1rem auto;
    border-top: 1px solid #737686;
}
.complete-profile .card footer .footer-card-icon{
    margin: 3px 5px 0 0;
    width: 50px;
}
.complete-profile footer > p{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-weight: 600;
    color:rgb(195 198 215 );
}
.complete-profile .error,
.forget-pass .error{
    color: red;
    font-size: 14px;
    margin-top: 5px;
}